<div class="content">
    <div class="mainimg">
        <a href="#main">
             <i class="material-icons">arrow_downward</i>
        </a>
    </div>  
    <main id=main>
        <h1>Välkommen!</h1> 
        <p>
            Lorizzle ipsizzle dolor amet, things adipiscing shizzle my 
            nizzle crocodizzle. Nullizzle sapien velizzle, shiz volutpizzle, 
            suscipit quis, hizzle vizzle, shizzle my nizzle crocodizzle. 
            Pellentesque phat tortor. Crunk erizzle. Doggy izzle dolor boofron 
            rpizzle i'm in the shizzle doggy. Maurizzle pellentesque nibh et 
            turpizzle. Rizzle izzle black. Pellentesque yo rhoncizzle dawg.
        </p>
        <div class="verksamhetbtn">
            <a href="verksamhet.html">Verksamheten</a>
        </div>
        <div class="infobtn">
            <a href="info.html">Mer info</a>
        </div>
    </main>
    <div class="news">
        <div id="article1">
            <h2>
                Lorem ipsum.
            </h2>
            <p>
                Lorizzle ipsizzle dolor amet, things adipiscing shizzle 
                my nizzle crocodizzle. Nullizzle sapien velizzle, shiz 
                volutpizzle, suscipit quis, hizzle vizzle, shizzle my 
                nizzle crocodizzle. 
            </p>
        </div>
    </div>
</div>