<div class="content">
    <div class="mainimg">
        <a href="#main">
             <i class="material-icons">arrow_downward</i>
        </a>
    </div>  
    <main id=main>
        <h1>Prästkragens Förskola</h1> 
        <p>
            Lorizzle ipsizzle dolor amet, things adipiscing shizzle my 
            nizzle crocodizzle. Nullizzle sapien velizzle, shiz volutpizzle, 
            suscipit quis, hizzle vizzle, shizzle my nizzle crocodizzle. 
            Pellentesque phat tortor. Crunk erizzle. Doggy izzle dolor boofron 
            rpizzle i'm in the shizzle doggy. Maurizzle pellentesque nibh et 
            turpizzle. Rizzle izzle black. Pellentesque yo rhoncizzle dawg.
        </p>
        <a class="verksamhetbtn" href="verksamhet.html">Verksamheten</a>
        <a class="infobtn" href="info.html">Mer info</a>
    </main>
    <div class="news">
        <h1>Aktuellt</h1>
        <div class="article" id="article1">
            <h2>
                Lorem ipsum
            </h2>
            <p>
                Lorizzle ipsizzle dolor amet, things adipiscing shizzle 
                my nizzle crocodizzle. Nullizzle sapien velizzle, shiz 
                volutpizzle, suscipit quis, hizzle vizzle, shizzle my 
                nizzle crocodizzle. 
            </p>
        </div>
        <div class="article" id="article2">
            <h2>
                Lorem ipsum
            </h2>
            <p>
                Lorizzle ipsizzle dolor amet, things adipiscing shizzle 
                my nizzle crocodizzle. Nullizzle sapien velizzle, shiz 
                volutpizzle, suscipit quis, hizzle vizzle, shizzle my 
                nizzle crocodizzle. 
            </p>
            </div>
        <div class="article" id="article3">
            <h2>
                Lorem ipsum
            </h2>
            <p>
                Lorizzle ipsizzle dolor amet, things adipiscing shizzle 
                my nizzle crocodizzle. Nullizzle sapien velizzle, shiz 
                volutpizzle, suscipit quis, hizzle vizzle, shizzle my 
                nizzle crocodizzle. 
            </p>
        </div>
    </div>
</div>