<script src="js/tabnavigation.js"></script>
<div class="tabs">
    <div class="navtab active" data-infopage="personal" onclick="tabnavigation(this)">
        <h1>Personal</h1>
    </div>
    <div class="navtab" data-infopage="tider" onclick="tabnavigation(this)">
        <h1>Våra Tider</h1>
    </div>
    <div class="navtab" data-infopage="avgifter" onclick="tabnavigation(this)">
        <h1>Avgifter</h1>
    </div>
    <div class="navtab" data-infopage="kontakt" onclick="tabnavigation(this)">
        <h1>Kontakt</h1>
    </div>
    <div class="navtab" data-infopage="links" onclick="tabnavigation(this)">
        <h1>Länkar</h1>
    </div>
</div>
<div class="infopage active" id="personal">
    <div class="staffbio" id="lena">
        <img src="img/profilepic.png" alt="Profil Bild">
        <h3>Lena</h3>
        <p>Lorizzle check it out dolor sit fizzle, consectetuer adipiscing elit.</p>
    </div>
    <div class="staffbio" id="sara">
            <img src="img/profilepic.png" alt="Profil Bild">
            <h3>Sara</h3>
            <p>Lorizzle check it out dolor sit fizzle, consectetuer adipiscing elit.</p>
        </div>
    <div class="staffbio" id="camilla">
            <img src="img/profilepic.png" alt="Profil Bild">
            <h3>Camilla</h3>
            <p>Lorizzle check it out dolor sit fizzle, consectetuer adipiscing elit.</p>
        </div>
    <div class="staffbio" id="elin">
            <img src="img/profilepic.png" alt="Profil Bild">
            <h3>Elin</h3>
            <p>Lorizzle check it out dolor sit fizzle, consectetuer adipiscing elit.</p>
        </div>
</div>
<div class="infopage" id="tider">
    <p>Lorem ipsum dolor lokksit amet 
        consectetur adipisicing elit. Ducimus, aspernatur.</p>
</div>
<div class="infopage" id="kontakt">
    <p>Lorem ipsum dolor hejsit amet 
        consectetur adipisicing elit. Ducimus, aspernatur.</p>
</div>
<div class="infopage" id="links">
    <p>Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Ducimus, aspernatur.</p>
</div>
<div class="infopage" id="avgifter">
    <p>Loremhej ipsum dolor sit amet 
        consectetur adipisicing elit. Ducimus, aspernatur.</p>
</div>