<div class="contactinfo">
    <h2>Kontakt info</h2>
    <i class="material-icons" id="adress">home</i>
    <div class="adress">
        <p>Prästkragens förskola 
            Vallhamrakyrkan
            Oxledsvägen 4
            433 67 SÄVEDALEN</p>
    </div>
</div>