<div class="contactinfo">
    <h2>Kontakt info</h2>
    <i class="material-icons" id="adress">home</i>
    <div class="adress">
        <p>Prästkragens förskola 
            Vallhamrakyrkan
            Oxledsvägen 
            4433 67 SÄVEDALEN</p>
    </div>
    <i class="material-icons" id="phone">phone</i>
    <div class="phone">
        <p>
            031-26 63 18 (Prästkragen 3-5 år & kök)
            031-26 19 08 (Pysslingkragen 1-3 år)
        </p>
    </div>
    <i class="material-icons" id="mail">alternate_email</i>
    <div class="mail">
        <p><a href="mailto:forskolechef.prastkragen@gmail.com">forskolechef.prastkragen@gmail.com</a></p>
    </div>
</div>