/* Desktop */
/* #region */
body {
    background-color: rgb(180, 180, 180);
    height: auto;
    width: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif;
} 

div.wrapper {
    /* display: grid; */
    height: inherit;
    width: inherit;
    grid-template-rows: 80px auto;
}

header.mobile {
    display: none;
}

header.desktop {
    width: 100vw;
    height: 80px;
    background-color: white;
    display: grid;
    grid-template-rows: 12px 1fr 12px;
    grid-template-columns: repeat(7, 1fr);
    position: fixed;
    top: 0px;
    box-shadow: 0px 4px 4px -1px rgba(0,0,0,0.75);
}

.navlink {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    display:flex;
    justify-content: center;
    align-items: center; 
}

header.desktop a:first-of-type {
    grid-row: 2;
    grid-column: 4;
    display:flex;
    justify-content: center;
    align-items: center; 
}

div.hamburgermenu {
    display: none;
}

a#startpage {
    grid-row: 2;
    grid-column: 2;
}

a#infopage {
    grid-row: 2;
    grid-column: 3;
}

a#contactpage {
    grid-row: 2;
    grid-column: 5;
}

a#lorempage {
    grid-row: 2;
    grid-column: 6;
}

div.content {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 930px 440px 100vh;
}

div.mainimg {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(13,1fr);
    background-color: rgb(73, 25, 25);
}

div.mainimg a :first-child {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.54);
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
}

div.mainimg a {
    grid-row: 9;
    grid-column: 7;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-color: white;
}

main h1 {
    grid-row: 3/4;
    grid-column: 2/10;
    color: black;
    text-align: center;
}

 main p {
    grid-row: 4/9;
    grid-column: 3/9;
}

a.verksamhetbtn {
    border-color: black;
    border: solid 2px;
    border-radius: 30px;
    grid-row: 7;
    grid-column: 4;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

 a.infobtn {
    border-color: black;
    border: solid 2px;
    border-radius: 30px;
    grid-row: 7;
    grid-column: 7/8;
    color: black;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    font-size: 20px;
}

div.news {
    height: 100vh;
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0px 50px repeat(3, 1fr) 0px;
    grid-row-gap: 30px;
    overflow: auto;
}

div.news h1 {
    grid-row: 2;
    grid-column: 4/6;
    display:flex;
    justify-content:center;
    align-items:center;
}

div.article {
    display: block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

div#article1 {
    grid-row: 3/5;
    grid-column: 2/4;
}
/* #endregion */

@media only screen and (max-device-width: 455px) {
    /* #General rules */
    /* #region */
    body {
        background-color: rgb(180, 180, 180);
        height: auto;
        width: 100vw;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    } 

    div.wrapper {
        /* display: grid; */
        height: inherit;
        width: inherit;
        grid-template-rows: 80px auto;
    }

    header.desktop {
        display: none;
    }

    header.mobile {
        grid-row: 1/2;
        background-color: white;
        height: 80px;
        display: grid;
        grid-template-columns: 0px 48px auto 48px 0px;
        grid-template-rows: 12px 1fr 12px;
        grid-column-gap: 12px;
    }

    header.mobile i.material-icons {
        grid-row: 2/3;
        grid-column: 2/3;
        font-size: 48px;
        color: rgba(0, 0, 0, 0.54);
        display:flex;
        justify-content:center;
        align-items:center; 
    }
    
    header.mobile a {
        grid-row: 2;
        grid-column: 3;
        padding-left: 48.75px;
    }
    div.hamburgermenu {
        transform: translateX(-100%);
        transition: transform 0.5s;
        position: absolute;
        height: 100vh;
        width: 70vw;
        z-index: 99;
        background-color: #35414D;
        display: grid;
        grid-template-rows: repeat(9, 80px);
        grid-template-columns: 1fr;
    }
    
    div.show {
        transform: translateX(0);        
    }

    div.menuclose {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template-rows: 12px 56px 12px;
        grid-template-columns: 0px 48px auto;
        grid-column-gap: 12px;    
    }

    div.menuclose i {
        color: white;
        font-size: 48px;
        grid-row: 2/3;
        grid-column: 2/3;
        display:flex;
        justify-content: left;
        align-items: left; 
    }

    .navlink {
        font-size: 24px;
        text-decoration: none;
        color: white;
        display:flex;
        justify-content: center;
        align-items: center; 
        grid-column: 1;
    }

    a#startpage {
        grid-column: 1;
        grid-row: 2;
    }

    a#infopage {
        grid-column: 1;
        grid-row: 3;
    }

    a#contactpage {
        grid-column: 1;
        grid-row: 4;
    }

    a#lorempage {
        grid-column: 1;
        grid-row: 5;
    }

    /* #endregion */
    /* End of general rules */
    
    
    /* Rules for index.html */
    /* #region */
    div.content {
        display: grid;
        grid-template-rows: 0px 702px 378px 100vh;
    }

     div.mainimg {
        grid-row: 2/3;
        grid-column: 1/1;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(7,1fr);
        background-color: rgb(73, 25, 25);
    }

     div.mainimg a :first-child {
        font-size: 48px;
        color: rgba(0, 0, 0, 0.54);
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration: none;
    }

     div.mainimg a {
        grid-row: 8/9;
        grid-column: 4/5;
        text-decoration: none;
    }

     main {
        grid-row: 3/4;
        grid-column: 1/2;
        background-color: white;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(10, 1fr);
        font-family: 'Roboto', sans-serif;
    }

     main h1 {
        grid-row: 2/3;
        grid-column: 2/10;
        color: black;
        text-align: center;
    }

     main p {
        grid-row: 3/8;
        grid-column: 2/10;
    }

     a.verksamhetbtn {
        border-color: black;
        border: solid 2px;
        border-radius: 30px;
        grid-row: 9;
        grid-column: 2/5;
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration: none;
        color: black;
    }

     a.infobtn {
        border-color: black;
        border: solid 2px;
        border-radius: 30px;
        grid-row: 9;
        grid-column: 7/10;
        color: black;
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration: none;
    }

     div.news {
        height: 100vh;
        grid-row: 4;
        grid-column: 1;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 0px 50px repeat(3, 1fr) 0px;
        grid-row-gap: 30px;
        overflow: auto;
    }

    div.news h1 {
        grid-row: 2;
        grid-column: 4/6;
        /* display: block;
        text-align: center;
        align-items: center; */
    }

    div.article {
        display: block;
        grid-column: 2/8;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 10px;
    }
    
    div.article h2 {
        text-align: center;
    }

    div#article1 {
        grid-row: 3;
    }

    div#article2 {
        grid-row: 4;
    }

    div#article3 {
        grid-row: 5;
    }

    footer {
        height: 160px;
        grid-row: 5;
        background-color: #35414d;
        background-image: linear-gradient(#35414d, #1b2127);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
        color: white;
    }

    footer h4 {
        grid-row: 1/3;
        grid-column: 3/7;
        text-align: center;
    }

    .contactbtn {
        border-color: white;
        border: solid 2px;
        border-radius: 30px;
        grid-row: 4/6;
        grid-column: 4/6;
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration: none;
        color: white;
    }

    footer p {
        grid-row: 7;
        grid-column: 2/8;
        font-size: 12px;
        text-align: center;
    }

    footer div.line {
        grid-row: 6;
        grid-column: 2/8;
        border-bottom: 1px solid white;
    }

    .bg-facebookwhite40 {
        width: 40px; 
        height: 40px;
        background: url('../img/css_sprites.png') -10px -10px;
        grid-row: 4/6;
        grid-column: 2;
    }

    .bg-instagramwhite40 {
        width: 40px; 
        height: 40px;
        background: url('../img/css_sprites.png') -70px -10px;
        grid-row: 4/6;
        grid-column: 7;
    }
    /* #endregion */
    /* End of rules for index.html */

    /* Rules for info.html */
    /* #region */
    div.tabs {
        background-color: #f0f0f0;
        width: 100vw;
        height: 60px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    div.navtab {
        grid-column: span 1;
        font-family: 'Roboto', san-serif;
        font-size: 8px;
        display:flex;
        justify-content:center;
        align-items:center;
        color: rgba(0, 0, 0, 0.54);
        border-top: solid 2px rgba(255, 255, 255, 0);
        border-bottom: solid 2px rgba(255, 255, 255, 0);

    }

    .navtab.active {
        background-color: white;
        border-bottom: solid 2px black;

    }

    
    .infopage.active {
        display: grid;
        height: 1000px;
    }
    
    div#personal {
        background-color: aqua;
        grid-template-columns: repeat(9, 50px);
        grid-template-rows: repeat(13, 70px);
        
    }
    div.infopage {
        display: none;
    }

    div.staffbio {
        height: 350px;
        width: 150px;
    }

    div#lena {
        grid-column: 2/4;
        grid-row: 2/6;
    }

    div#sara {
        grid-column: 6/8;
        grid-row: 2/6;
    }

    div#camilla {
        grid-column: 2/4;
        grid-row: 8/12;
    }

    div#elin {
        grid-column: 6/8;
        grid-row: 8/12;
    }
    /* #endregion */
    /* End of rules for info.html */

}